.wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(216, 215, 215);
  position: fixed;
  min-width: 100%;
  z-index: 2;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;

  .list {
    display: none;
    align-items: center;
    list-style-type: none;
    margin-left: auto;

    li {
      cursor: pointer;
      margin-left: 1rem;
      list-style-type: none;
      :hover {
        transition: 500ms all ease;
        color: #e60067;
      }

      a {
        font-size: 1.3rem;
        font-weight: 600;
        color: rgb(31, 31, 31);
        text-decoration: none;
      }
    }
    .socials__icon {
      margin-top: 0.3rem;
      color: rgb(31, 31, 31);
    }
  }
  .logo {
    font-weight: 800;
    color: #e60067;
    cursor: pointer;
  }
}

$breakpoints: (
  // 500px
  "sm": 31.25em,
  // 600px
  "sm2": 37.5em,
  // 700px
  "md": 43.75em,
  // 800px
  "md2": 50em,
  // 850px
  "md3": 53.125em,
  // 960px
  "lg": 60em,
  // 1200px
  "lg2": 75em,
  // 1300px
  "lg3": 81.25em,
  // 1550
  "lg4": 96.875em,
  // 1800
  "lg5": 112.5em,
  "xl": 120em,
  // 2000px
  "xl2": 125em
);

@media (min-width: map-get($breakpoints, "md3")) {
  .wrapper {
    .list {
      display: flex;
    }
  }
}

@media (min-width: map-get($breakpoints, "xl2")) {
  .wrapper {
    .list {
      li {
        margin-left: 1.5rem;
        a {
          font-size: 1.9rem;
        }
      }
    }
  }
  .logo {
    font-size: 1.9rem;
  }
}
