.container {
  background-color: #ffffff;
  color: rgb(31, 31, 31);
  border: 1px solid rgb(216, 215, 215);
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: min(30rem, 100%);

  ul {
    display: flex;
    list-style-type: none;
    a {
      text-decoration: none;
    }

    h3 {
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}
