$breakpoints: (
  // 500px
  "sm": 31.25em,
  // 600px
  "sm2": 37.5em,
  // 700px
  "md": 43.75em,
  // 800px
  "md2": 50em,
  // 960px
  "lg": 60em,
  // 1200px
  "lg2": 75em,
  // 1300px
  "lg3": 81.25em,
  // 1550
  "lg4": 96.875em,
  // 1800
  "lg5": 112.5em,
  "xl": 120em
);

@media (min-width: map-get($breakpoints, "sm2")) {
  .shape__container {
    svg {
      width: 350px;
      height: 350px;
    }
  }
}
