.container {
  background-color: rgba(31, 31, 31, 1);
  color: #ffffff;
  border-radius: 1rem;
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image__wrapper {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-inline: 1rem;
}

.description {
  color: rgba(255, 255, 255, 0.8);
}

.stack {
  margin-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  p {
    padding-right: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  margin-top: auto;

  a {
    text-decoration: none;
    margin-right: 1rem;
    color: #3b3b3d;
  }
}

$breakpoints: (
  // 500px
  "sm": 31.25em,
  // 600px
  "s": 37.5em,
  // 700px
  "md": 43.75em,
  // 800px
  "md2": 50em,
  // 960px
  "lg": 60em,
  // 1200px
  "lg2": 75em,
  // 1300px
  "lg3": 81.25em
);

@media (min-width: map-get($breakpoints, "md")) {
  .container {
    // flex-direction: row;
    .image {
      width: 10rem;
    }
  }
}
